{{ define "main"}}
<header class="text-left title">
    <h1 class="title">{{ .Title }}</h1>
  </header>
  <section id="category-pane" class="row meta">
    <div class="col-md-12">
      <h6 class="text-left published-date">
         {{ if not .Date.IsZero }} Published on {{ .Date.Format .Site.Params.dateformat }} {{end}}
      </h6>
    </div>
  </section>
  <hr>
  <section id="content-pane" class="row">
    <div class="col-md-12 text-justify content">
      {{ .Content }}
    </div>
  </section>
{{end}}